<div class="container">
  <div class="card animated-card"> <div class="card-header">
    <i class="pi pi-envelope icon animated-envelope"></i> <h2 class="animated-text">Verifica la tua email</h2> </div>
    <div class="card-body">
      <p class="animated-text delay-1">Abbiamo inviato un'email di conferma all'indirizzo che ci hai fornito.</p>
      <p class="animated-text delay-2">Per attivare il tuo account e confermare eventuali prenotazioni in sospeso, clicca sul link che trovi nell'email.</p>
    </div>
    <div class="card-footer">
      <button class="btn-primary animated-button" (click)="goHome()">Torna alla Home</button> </div>
  </div>
</div>
