<nav class="container-navbar">
  <div class="navbar">
    <a routerLink="/" class="nav-brand">Raido</a>
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="/about" class="nav-link">Siamo</a></li>
      <li class="nav-item"><a routerLink="/booking" class="nav-link">Prenota</a></li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a routerLink="/login" class="nav-link">Accedi</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <p-button type="button" [label]="'Account'" (onClick)="op.toggle($event)"
          styleClass="account nav-link p-button-text">
        </p-button>
        <p-popover #op>
          <div class="flex flex-col gap-2 min-w-32">
            <button pButton type="button" label="Profilo" class="p-button-text w-full text-left"
              (click)="goToProfile()">
            </button>
            <button pButton type="button" label="Logout" class="p-button-text w-full text-left" (click)="auth.logout()">
            </button>
          </div>
        </p-popover>
      </li>
    </ul>
  </div>
</nav>