.container-navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.nav-list {
  display: flex;
  justify-content: end;
  gap: 1rem;
  list-style: none;
  padding: 0;
}