<div class="register-container">
  <div class="register-card">
    <div class="card-header">
      <h1 class="register-title">Registrazione</h1>
      <p class="subtitle">Crea il tuo account</p>
    </div>
    <div class="card-content">
      <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
        <div class="form-container">
          <div class="form-field name-row">
            <div class="name-field">
              <label for="firstName">Nome</label>
              <input pInputText id="firstName" formControlName="firstName" placeholder="Inserisci nome" />
              <small *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched" class="p-error">
                Il nome è obbligatorio
              </small>
            </div>

            <div class="name-field">
              <label for="lastName">Cognome</label>
              <input pInputText id="lastName" formControlName="lastName" placeholder="Inserisci cognome" />
              <small *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched" class="p-error">
                Il cognome è obbligatorio
              </small>
            </div>
          </div>

<!--          <div class="form-field">-->
<!--            <label for="picture">Immagine profilo (opzionale)</label>-->
<!--            <input pInputText id="picture" formControlName="picture" placeholder="URL immagine" />-->
<!--            <small *ngIf="registerForm.get('picture')?.hasError('invalidUrl') && registerForm.get('picture')?.touched" class="p-error">-->
<!--              Inserisci un URL valido-->
<!--            </small>-->
<!--          </div>-->

          <div class="form-field">
            <label for="username">Email</label>
            <input pInputText id="username" formControlName="username" placeholder="Inserisci email" type="email" />
            <small *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched" class="p-error">
              L'email è obbligatoria
            </small>
            <small *ngIf="(registerForm.get('username')?.hasError('email') ||
                   registerForm.get('username')?.hasError('invalidEmail')) && registerForm.get('username')?.touched" class="p-error">
              Inserisci un'email valida
            </small>
          </div>

          <div class="form-field">
            <label for="password">Password</label>
            <p-password
              id="password"
              class="p-password-input block w-full border-round"
              formControlName="password"
              placeholder="Password"
              promptLabel="Scegli una password"
              weakLabel="Troppo debole"
              mediumLabel="Password media"
              strongLabel="Password sicura!"
              [toggleMask]="true"
            ></p-password>
            <small *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="p-error">
              La password è obbligatoria
            </small>
            <small *ngIf="registerForm.get('password')?.hasError('weakPassword') && registerForm.get('password')?.touched" class="p-error">
              La password deve contenere almeno un carattere speciale
            </small>
          </div>

          <div class="form-field">
            <label for="confirmPassword">Conferma Password</label>
            <p-password [toggleMask]="true" id="confirmPassword" formControlName="confirmPassword"
                        placeholder="Conferma password"
                        class="p-password-input block w-full border-round"  weakLabel="Troppo debole"
                        mediumLabel="Password media"
                        strongLabel="Password sicura!"></p-password>
            <small *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched" class="p-error">
              La conferma password è obbligatoria
            </small>
            <small *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched" class="p-error">
              Le password non coincidono
            </small>
          </div>

          <button type="submit" class="btn-primary" [disabled]="registerForm.invalid || isLoading">
            <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="margin-right: .5em;"></i>
            <span>Registrati</span>
          </button>

          <div class="login-link">
            Hai già un account? <a routerLink="/login">Accedi</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
