.hero-top {
  display: flex;
  align-items: flex-end;
  padding: 4vw 0vw 3.5vw;
  gap: 6.25vw;
  min-height: 35vw;
}

.hero-top h1 {
  font-size: 11.5vw;
  line-height: .8;
  letter-spacing: -0.04em;
}

.col-1 h1 {
  font-size: 7.125vw;
  line-height: 3.75vw;
  font-weight: 500;
  color: #000;
}

.hero-top col-2 {
  padding: 4.1666666667vw 0vw 3.3333333333vw;
  min-height: 35vw;
}

.none {
  display: none;
}

.container-img-sec-2 img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.container-img-sec-2 {
  position: relative;
}

.label-img-sec-2 .caps {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;

  color: #fff;
  font-size: 0.775rem;
  font-weight: 500;
  padding: 1rem 0 0 1rem;
}

.content-sec-2 {
  position: absolute;
  bottom: 0;
  padding: 4.1666666667vw 25vw;
  width: 100%;
  text-align: center;
}

.heading-sec-2 {
  color: #fff;
  font-size: 2.75vw;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.wrapper-text-sec-2 {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
  margin-top: 1.5rem;
}

p.text-sec-2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.25vw;
}

a.button-sec-2 {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 0.5rem 0.75rem 0.4375rem 0.75rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: .02em;
}