<section class="section-prices">
  <div class="content">
    <div class="nav row">
      <div class="col">Durata</div>
      <ng-container *ngFor="let bike of bikeTypes">
        <div class="col">{{ bike.category }} ({{ bike.motorType }})</div>
      </ng-container>
    </div>
    <div class="divider nav-divider"></div>
    <ng-container *ngFor="let d of durations; let i = index">
      <div class="row">
        <div class="col">{{ d.label }}</div>
        <ng-container *ngFor="let bike of bikeTypes">
          <div class="col">
            {{ (bike.PriceHalfDay * d.multiplier) | number:'1.0-0' }} €
          </div>
        </ng-container>
      </div>
      <div class="divider" *ngIf="i < durations.length - 1"></div>
    </ng-container>
  </div>
  <div class="content-mo">
    <ng-container *ngFor="let d of durations; let i = index">
      <div class="acc-toggle" data-collapse>
        <div class="acc-block">
          <div class="acc-no">({{ (i + 1) < 10 ? '0' + (i + 1) : i + 1 }})</div>
          <div class="acc-title">{{ d.label }}</div>
          <div class="acc-toggle-icon"><i class="pi pi-plus"></i></div>
        </div>
      </div>
      <ul>
        <li *ngFor="let bike of bikeTypes">
          {{ bike.category }} ({{ bike.motorType }}): {{ (bike.PriceHalfDay * d.multiplier) | number:'1.0-0' }} €
        </li>
      </ul>
    </ng-container>
  </div>
</section>
