section-prices {
  position: relative;
}

.content {
  width: 97%;
  height: 100%;
  padding: 1em 0;
  margin: 0 auto;
}

.content>* {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: #000;
}

.divider {
  width: 100%;
  height: 0.5px;
  background: #000;
  margin: 0.2em 0;
}

.nav {
  text-transform: uppercase;
}

.nav-divider {
  margin-top: 1em;
}

.row {
  width: 100%;
  height: 20px;
  display: flex;
  padding: 0 2em;
}

.row>.col {
  position: relative;
  flex: 1;
}

.row>.col:first-child {
  flex: 2;
}

.content-mo {
  display: none;
  ;
}

@media screen and (max-width: 1024px) {

  .content {
    display: none;
  }

  .content-mo {
    display: block;
    background: #fff;
    color: #000;
    width: 97%;
    margin: 40px auto;
    font-size: 50px;
  }

  .acc-block {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .acc-no {
    color: #000;
  }

  .acc-toggle-icon {
    color: #383838;
  }

  ul {
    padding: 0;
  }

  ul li {
    padding: 4px 0;
    list-style: none;
    font-size: 26px;
  }

  li:first-child {
    padding-top: 40px;
  }

  li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 40px;
  }

  .acc-block {
    font-size: 20px;
    padding: 10px;
  }

  ul li {
    font-size: 20px;
  }

  li:first-child {
    padding-top: 10px;
  }

  li:last-child {
    padding-bottom: 10px;
  }

  [data-collapsible] {
    cursor: pointer;
  }
}