<section class="section-prices">
  <div class="content">
    <div class="nav row">
      <div class="col">Giornate</div>
      <div class="col">Mountain (Elettrica)</div>
      <div class="col">Gravel (Muscolare)</div>
      <div class="col">City (Elettrica)</div>
    </div>
    <div class="divider nav-divider"></div>
    <div class="row">
      <div class="col">8:30-13:30 · 13:30-18:30</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col">1 giorno</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col">2 giorni</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col">3 giorni</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col">4 giorni</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col">5 giorni</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col">+1 giorno oltre il 5°</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
      <div class="col">15 €</div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="content-mo">
    <div class="acc-toggle" data-collapse>
      <div class="acc-block">
        <div class="acc-no">(01)</div>
        <div class="acc-title">Financial Statement</div>
        <div class="acc-toggle-icon"><i class="pi pi-plus"></i></div>
      </div>
    </div>
    <ul>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum has been the industry's standard dummy text</li>
      <li>when an unknown printer took a galley of type and scrambled.</li>
    </ul>

    <div class="acc-toggle" data-collapse>
      <div class="acc-block">
        <div class="acc-no">(02)</div>
        <div class="acc-title">TAX</div>
        <div class="acc-toggle-icon"><i class="pi pi-plus"></i></div>
      </div>
    </div>
    <ul>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum has been the industry's standard dummy text</li>
      <li>when an unknown printer took a galley of type and scrambled.</li>
    </ul>

    <div class="acc-toggle" data-collapse>
      <div class="acc-block">
        <div class="acc-no">(03)</div>
        <div class="acc-title">Accounting</div>
        <div class="acc-toggle-icon"><i class="pi pi-plus"></i></div>
      </div>
    </div>
    <ul>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum has been the industry's standard dummy text</li>
      <li>when an unknown printer took a galley of type and scrambled.</li>
    </ul>

  </div>
</section>