<div class="login-container">
  <p-card>
    <ng-template pTemplate="header">
      <h1>Benvenuto</h1>
      <p class="subtitle">Accedi al tuo account</p>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
        <div class="form-container">
          <!-- Username -->
          <div class="p-field full-width">
            <label for="username">Email</label>
            <input
              id="username"
              pInputText
              formControlName="username"
              placeholder="Inserisci username"
              required
              autocomplete="username"
            />
            <small *ngIf="loginForm.get('username')?.hasError('required')" class="p-error">
              Email è obbligatorio
            </small>
          </div>

          <!-- Password -->
          <div class="p-field full-width">
            <label for="password">Password</label>
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
              placeholder="Inserisci password"
              required
            ></p-password>
            <small *ngIf="loginForm.get('password')?.hasError('required')" class="p-error">
              Password è obbligatoria
            </small>
          </div>

          <!-- Pulsante di login -->
          <button
            pButton
            type="submit"
            class="login-button"
            [disabled]="isLoading"
          >
            <i
              *ngIf="isLoading"
              class="pi pi-spin pi-spinner"
              style="margin-right: .5em;"
            ></i>
            <span *ngIf="!isLoading">Accedi</span>
          </button>
        </div>

        <div class="login-link">
          Non hai un account?
          <a routerLink="/register">Registrati</a>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>