<div class="login-container">
  <div class="login-card">
    <div class="card-header">
      <h1 class="login-title">Benvenuto</h1>
      <p class="subtitle">Accedi al tuo account</p>
    </div>
    <div class="card-content">
      <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
        <div class="form-container">
          <div class="form-field">
            <label for="username">Email</label>
            <input
              id="username"
              pInputText
              formControlName="username"
              placeholder="Inserisci username"
              required
              autocomplete="username"
              type="email" />
            <small *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched" class="p-error">
              Email è obbligatoria
            </small>
            <small *ngIf="loginForm.get('username')?.hasError('email') && loginForm.get('username')?.touched" class="p-error">
              Inserisci un'email valida
            </small>
          </div>

          <div class="form-field">
            <label for="password">Password</label>
            <p-password
              id="password"
              class="p-password-input block w-full border-round"
              formControlName="password"
              placeholder="Password"
              promptLabel="Scegli una password"
              weakLabel="Troppo debole"
              mediumLabel="Password media"
              strongLabel="Password sicura!"
              [toggleMask]="true"
            ></p-password>
            <small *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="p-error">
              Password è obbligatoria
            </small>
          </div>

          <button
            type="submit"
            class="btn-primary"
            [disabled]="isLoading"
          >
            <i
              *ngIf="isLoading"
              class="pi pi-spin pi-spinner"
              style="margin-right: .5em;"
            ></i>
            <span>Accedi</span>
          </button>
        </div>

        <div class="login-link">
          Non hai un account?
          <a routerLink="/register">Registrati</a>
        </div>
      </form>
    </div>
  </div>
</div>
