@import "tailwindcss";
@import "primeicons/primeicons.css";

/* styles.scss */
$primary-color: #000;
$light-gray: #bfbfc6;
$border-color: #e1e5ff;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.p-password-input {
  width: 26rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;

  @media screen and (max-width: 600px) {
    width: 18.4rem;
  }
}
