@import "tailwindcss";
@import "primeicons/primeicons.css";

/* styles.scss */
$primary-color: #000;
$light-gray: #bfbfc6;
$border-color: #e1e5ff;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.p-password-input {
  width: 26rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;

  @media screen and (max-width: 600px) {
    width: 18.4rem;
  }
}

.navbar .p-button-label,
p-popover.p-button-text {
  font-weight: 400 !important;
  color: #000 !important;
}

button.p-button-text.w-full.text-left.p-button.p-component {
  padding-block: 0;
  color: #000;

}

span.p-button-label {
  font-weight: 400 !important;
}


.navbar .p-button-text {
  color: #000;
}

.navbar button.p-button.account {

  padding-block: 0 !important;
  padding-inline: 0 !important;
}