.container-footer {
  padding: 4.1666666667vw 12.5vw 3.3333333333vw;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.3em;
}

.links-top-footer,
.links-bottom-footer {
  display: flex;
  gap: 1.875rem;
  ;
}

.links-top-footer a,
.links-bottom-footer a {
  font-size: 0.85rem;
  font-weight: 400;
  color: #000;
}

.links-bottom-footer a {
  opacity: 0.5;
}