<div class="container-footer">
  <footer>
    <img src="logo.webp" alt="Logo" class="footer-logo" />

    <ul class="links-footer links-top-footer">
      <li><a href="">Newsletter</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Contact</a></li>
      <li class="mobile-full"><a href="">Ovunque nel mondo</a></li>
    </ul>

    <ul class="links-footer links-bottom-footer">
      <li class="mobile-full"><a href="">Informativa sulla privacy</a></li>
      <li><a href="">Cookies</a></li>
      <li><a href="https://bikerental-backoffice.vercel.app/login" class="operator-link">Portale operatori</a></li>
    </ul>
  </footer>
</div>
