.container-footer {
  padding: 4.1666666667vw 12.5vw 3.3333333333vw;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.3em;
}

.links-top-footer,
.links-bottom-footer {
  display: flex;
  gap: 1.875rem;
  ;
}

.links-footer a {
  font-size: 0.85rem;
  font-weight: 300;
}